<%- include("templates/header") %>
    <h3 class="text-center mt-5">Se ha presentado un error</h3>
    <div class="row m-auto px-5 mt-5">
        <div class="col-12 text-center">
            <img src="../public/images/sorry.png" class="img-responsive w-100 h-75" alt="Se ha producido un error" />  
            <a href=" ./"><button type="button" class="btn btn-primary w-100 mt-5">Volver</button></a>       
        </div>
    </div>
<%- include("templates/footer") %>